# REDIS
REDIS_URL=''

# RESEND
RESEND_API_KEY=''

# WAKATIME
WAKATIME_API_KEY=''

# GITHUB
GITHUB_TOKEN=''

# DISCORD
DISCORD_ID=''
DISCORD_TOKEN=''

# LASTFM
LASTFM_API_KEY=''

# DATAXAMS
VITE_DATAXAMAS_URL='X'
VITE_DATAXAMAS_WEBSITE_ID=''
VITE_DATAXAMAS_API_KEY=''

# RUN SYNC
RUN_SYNC_TOKEN=''