# WEB
WEB_PORT=3000
DISCORD_ID=''
RECIPIENT_EMAIL=''

# SMTP
SMTP_HOST=''
SMTP_PORT=
SMTP_USERNAME=''
SMTP_PASSWORD=''
SMTP_SECURE=false

# REDIS
REDIS_HOST='redis'
REDIS_PASSWORD=''
REDIS_PORT=6379
REDIS_URL="redis://:$REDIS_PASSWORD@$REDIS_HOST:$REDIS_PORT"