# WEB
NEXT_PUBLIC_BASE_URL='http://localhost:25241'

# WAKATIME
WAKATIME_API_KEY=''

# GITHUB
GITHUB_TOKEN=''

# DISCORD
DISCORD_ID=''

# SPOTIFY
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
SPOTIFY_REFRESH_TOKEN=''